.site-navbar .navbar-container {
  background-color: #f1f3f4;
  border-bottom: 1px solid #e0e0e0; }

.navbar-default .navbar-toolbar > .active > .nav-link, .navbar-default .navbar-toolbar > .active > .nav-link:hover, .navbar-default .navbar-toolbar > .active > .nav-link:focus, .navbar-default .navbar-toolbar .nav-link.active, .navbar-default .navbar-toolbar .nav-link.active:hover, .navbar-default .navbar-toolbar .nav-link.active:focus {
  color: #000000;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.navbar-default .navbar-toolbar .nav-link {
  color: #424242; }

.nav-tickets {
  border-bottom: none; }
  .nav-tickets .nav-ticket-item {
    min-width: 220px;
    width: 220px;
    position: relative;
    margin-left: -2px; }
    .nav-tickets .nav-ticket-item.nav-item-active:before {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      left: -10px;
      bottom: 0px;
      background: url(../images/tab_corner_left.svg);
      z-index: 10; }
    .nav-tickets .nav-ticket-item.nav-item-active:after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      right: -8px;
      bottom: 0px;
      background: url(../images/tab_corner_right.svg);
      z-index: 10; }
    .nav-tickets .nav-ticket-item.nav-item-hover:before {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      left: -10px;
      bottom: 0px;
      background: url(../images/tab_corner_left_hover.svg); }
    .nav-tickets .nav-ticket-item.nav-item-hover:after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      right: -8px;
      bottom: 0px;
      background: url(../images/tab_corner_right_hover.svg); }
    .nav-tickets .nav-ticket-item .nav-link {
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 30px; }
      .nav-tickets .nav-ticket-item .nav-link.active:after {
        display: none; }
      .nav-tickets .nav-ticket-item .nav-link:after {
        content: '';
        height: 30px;
        position: absolute;
        width: 1px;
        background: #d6d6d6;
        right: 0px;
        top: 10px; }
  .nav-tickets .close-tab {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 100%; }
    .nav-tickets .close-tab:hover {
      background: #e8eaed; }
  .nav-tickets .thumb-ticket i {
    vertical-align: bottom;
    color: #9e9e9e;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    margin-right: 5px; }
  .nav-tickets .icon-add-task i {
    font-size: 20px;
    color: #595c62;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: transparent; }
  .nav-tickets .nav-add-ticket-item:hover i {
    background: #cbced3; }
  .nav-tickets .nav-tabs .nav-link.active, .nav-tickets .nav-tabs .nav-link.active:focus, .nav-tickets .nav-tabs .nav-link.active:hover, .nav-tickets .nav-tabs .nav-item.open .nav-link, .nav-tickets .nav-tabs .nav-item.open .nav-link:focus, .nav-tickets .nav-tabs .nav-item.open .nav-link:hover {
    border-bottom-color: #f4433600; }

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent transparent transparent; }

.navbar {
  box-shadow: none; }

.site-navbar-small .site-navbar {
  height: 50px;
  min-height: 50px; }

.navbar-container {
  height: 50px; }

.site-navbar-small .site-navbar .navbar-toolbar > li > a {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 400; }

.site-navbar-small .site-menubar {
  top: 50px; }

.nav-tabs .nav-link {
  transition: none; }

.site-menu > .site-menu-item > a {
  padding: 0 20px; }

.site-menu-icon {
  font-size: 22px;
  margin: initial; }

.site-navbar-small .site-navbar .navbar-brand {
  height: 50px;
  padding: 1rem 1.4rem; }

.table-company .logo-company {
  border-radius: 0px; }
  .table-company .logo-company img {
    border-radius: 0px; }

.site-menubar.site-menubar-dark {
  background: #1a4463; }

.site-navbar {
  background-color: #1a4463; }

.site-menubar-dark .site-menubar-footer {
  background-color: #1a4463; }

.site-menubar-dark .site-menubar-footer > a {
  background-color: #1a4463; }

.site-menubar-dark .site-menu-item.active {
  background: #1a4463; }

.site-menubar-dark .site-menu-item:hover > a {
  color: white; }

.site-menubar-dark .site-menu-item a {
  color: rgba(255, 255, 255, 0.6); }

.site-menubar-fold .site-menubar {
  width: 60px; }

@media (min-width: 768px) {
  .site-navbar .navbar-header {
    width: 60px; } }
.site-menubar-fold:not(.site-menubar-hover) .site-menubar-footer {
  width: 60px; }

.site-menubar-fold:not(.site-menubar-hover) .site-menubar-footer > a {
  width: 60px; }

.site-menubar-footer > a {
  font-size: 22px;
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.6); }

.site-menubar-dark .site-menubar-footer > a:hover, .site-menubar-dark .site-menubar-footer > a:focus {
  background-color: #1a4463; }

.site-menubar-fold .page, .site-menubar-fold .site-footer {
  margin-left: 60px; }

body.site-navbar-small {
  padding-top: 50px; }

.site-navbar-small .slidePanel-left, .site-navbar-small .slidePanel-right {
  top: 50px; }

.site-menubar-fold .site-menu > .site-menu-item > a {
  height: 40px;
  line-height: 40px;
  margin: 10px;
  display: flex;
  justify-content: center; }

.site-menubar-fold .site-menu > .site-menu-item.active > a {
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px; }

.site-navbar-small .site-navbar .navbar-brand {
  width: 60px;
  padding: 1rem 0.6rem; }

.site-navbar .navbar-header .navbar-brand-logo {
  height: 30px; }

.navbar-default .navbar-toolbar .nav-link:hover, .navbar-default .navbar-toolbar .nav-link:focus {
  background-color: #fbfbfb; }
  .navbar-default .navbar-toolbar .nav-link:hover:after, .navbar-default .navbar-toolbar .nav-link:focus:after {
    display: none; }

#mainactionbar {
  margin-left: 60px;
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px #dadfe3 solid; }
  #mainactionbar .page-content-actions {
    padding: 9px 30px; }
    #mainactionbar .page-content-actions .btn-item-action {
      margin-right: 10px;
      padding: 7px 10px;
      /*border: 1px solid #dadfe3;*/
      /*color: #183247;*/
      font-size: 12px;
      font-weight: 400; }

.btn-white {
  /*color: #fff;*/
  background-color: #fff !important; }

.contacts-thumb__info {
  width: 22px; }
  .contacts-thumb__info svg {
    width: 22px; }

#card-notes {
  padding: 0px;
  border: 4px solid #dee3e7;
  border-radius: 2px; }
  #card-notes input, #card-notes textarea {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0px; }
  #card-notes .card-notes-action {
    background: #f9f9f9;
    padding: 12px; }
    #card-notes .card-notes-action button {
      font-weight: 500; }

.nav-tabs-line .nav-link.active, .nav-tabs-line .nav-link.active:focus, .nav-tabs-line .nav-link.active:hover, .nav-tabs-line .nav-item.open .nav-link, .nav-tabs-line .nav-item.open .nav-link:focus, .nav-tabs-line .nav-item.open .nav-link:hover {
  border-bottom: 2px solid #4CAF50; }

/*.card{
	background-color: #fff;
    border: 1px solid #e0e0e0;
}*/
#card-detail-info .card-footer {
  padding: 0px;
  background: #f9f9f9; }
#card-detail-info .nav-tabs {
  border-bottom: none; }
#card-detail-info .nav-link {
  font-weight: 400; }

#box-avatar {
  float: left;
  margin-right: 20px; }
  #box-avatar .box-avatar-border {
    border: 2px solid #eee; }
  #box-avatar .box-avatar-content {
    margin: 3px;
    border-radius: 4px;
    width: 110px;
    height: 110px;
    background-color: #cdebc4;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    line-height: 110px;
    color: #1a4463; }

.bg-brown {
  background: #ebeef0; }

.card-detail-comment .list-group-item {
  margin-bottom: 10px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  box-shadow: 0 1px 0 0 #dadfe3;
  border-radius: 2px; }

.page-aside-left .page-aside-right {
  right: 0px; }

.page-three-colums .page-aside-right {
  left: auto;
  right: 0; }
.page-three-colums .page-aside + .page-main {
  margin-right: 260px; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  text-shadow: none; }

.card-block.card-block-custom {
  padding: 0px 20px 10px 20px; }
  .card-block.card-block-custom .form-group {
    width: 100%;
    margin: 0px; }
    .card-block.card-block-custom .form-group .form-control.tokenfield {
      padding-left: 8px; }
  .card-block.card-block-custom label {
    margin: 0px;
    font-size: 12px;
    font-weight: 400; }

#ticket-main .comment-author {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none; }
#ticket-main .comment-author-title {
  font-size: 22px; }
#ticket-main .icon-dot-seperate {
  font-size: 4px;
  margin: 4px;
  color: #1a4463; }
#ticket-main .comment-content-note {
  background: #fff6d9;
  padding: 10px;
  border-radius: 5px; }

.wrap-form-reply #card-notes {
  border: 1px solid #dee3e7; }
  .wrap-form-reply #card-notes .card-notes-action {
    background: #ffffff;
    padding: 5px; }
.wrap-form-reply .nav-tabs {
  border-bottom: none; }

.bg-internal-note {
  background: #FFF6D9; }

.detail-ticket-setting .select2-container--default {
  width: 100% !important; }

.comment-custom .avatar {
  border: 1px solid #bdbdbd; }

.btn-outline.btn-default {
  color: #76838f;
  background-color: transparent; }

.btn-outline.btn-primary {
  color: #62a8ea;
  background-color: transparent; }

.btn-outline.btn-success {
  color: #46be8a;
  background-color: transparent; }

.btn-outline.btn-info {
  color: #57c7d4;
  background-color: transparent; }

.btn-outline.btn-warning {
  color: #f2a654;
  background-color: transparent; }

.btn-outline.btn-danger {
  color: #f96868;
  background-color: transparent; }

.btn-outline.btn-dark {
  color: #526069;
  background-color: transparent; }

.btn-outline.btn-default.active, .btn-outline.btn-default:active, .btn-outline.btn-default:focus, .btn-outline.btn-default:hover, .open > .btn-outline.btn-default.dropdown-toggle {
  color: #76838f;
  border-color: #e4eaec;
  background-color: rgba(118, 131, 143, 0.1); }

.btn-outline.btn-primary.active, .btn-outline.btn-primary:active, .btn-outline.btn-primary:focus, .btn-outline.btn-primary:hover, .open > .btn-outline.btn-primary.dropdown-toggle {
  color: #fff;
  border-color: #62a8ea;
  background-color: #62a8ea; }

.btn-outline.btn-success.active, .btn-outline.btn-success:active, .btn-outline.btn-success:focus, .btn-outline.btn-success:hover, .open > .btn-outline.btn-success.dropdown-toggle {
  color: #fff;
  border-color: #46be8a;
  background-color: #46be8a; }

.btn-outline.btn-info.active, .btn-outline.btn-info:active, .btn-outline.btn-info:focus, .btn-outline.btn-info:hover, .open > .btn-outline.btn-info.dropdown-toggle {
  color: #fff;
  border-color: #57c7d4;
  background-color: #57c7d4; }

.btn-outline.btn-warning.active, .btn-outline.btn-warning:active, .btn-outline.btn-warning:focus, .btn-outline.btn-warning:hover, .open > .btn-outline.btn-warning.dropdown-toggle {
  color: #fff;
  border-color: #f2a654;
  background-color: #f2a654; }

.btn-outline.btn-danger.active, .btn-outline.btn-danger:active, .btn-outline.btn-danger:focus, .btn-outline.btn-danger:hover, .open > .btn-outline.btn-danger.dropdown-toggle {
  color: #fff;
  border-color: #f96868;
  background-color: #f96868; }

.btn-outline.btn-dark.active, .btn-outline.btn-dark:active, .btn-outline.btn-dark:focus, .btn-outline.btn-dark:hover, .open > .btn-outline.btn-dark.dropdown-toggle {
  color: #fff;
  border-color: #526069;
  background-color: #526069; }

#ticket-main-add-new label {
  font-weight: 400;
  margin: 0px; }
#ticket-main-add-new .comments {
  margin-top: 20px; }
#ticket-main-add-new .comment {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  border-bottom: none; }
#ticket-main-add-new .form-group {
  margin: 0px; }

.nav-tabs-line-custom.nav-tabs-line .nav-link {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 10px;
  font-weight: 400;
  color: #888888 !important; }
.nav-tabs-line-custom.nav-tabs-line .nav-link.active, .nav-tabs-line-custom.nav-tabs-line .nav-link.active:focus, .nav-tabs-line-custom.nav-tabs-line .nav-link.active:hover, .nav-tabs-line-custom.nav-tabs-line .nav-item.open .nav-link, .nav-tabs-line-custom.nav-tabs-line .nav-item.open .nav-link:focus, .nav-tabs-line-custom.nav-tabs-line .nav-item.open .nav-link:hover {
  border-bottom: 4px solid #1a4463;
  color: #1a4463 !important; }

.page-aside-section-option .select2-container--default .select2-selection--single,
.page-aside-section-option .select2-selection,
.page-aside-section-option .tokenfield {
  /*		height: 30px !important;
  		min-height: 30px !important;*/ }
.page-aside-section-option .select2-selection__rendered {
  /*font-size: 12px;*/ }

.form-control.focus, .form-control:focus {
  border-color: #1a4463 !important; }

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
  border-color: #1a4463 !important; }

.select2-container--bootstrap .select2-dropdown {
  border-color: #1a4463 !important; }

.form-group-sm .select2-container--default .select2-selection--single, .input-group-sm .select2-container--default .select2-selection--single, .select2-container--default.input-sm .select2-selection--single {
  height: 28px !important;
  line-height: 1.2 !important; }

.form-group-sm .select2-container--default .select2-selection--multiple, .input-group-sm .select2-container--default .select2-selection--multiple, .select2-container--default.input-sm .select2-selection--multiple {
  min-height: 28px !important;
  height: 28px !important; }

.site-footer {
  background: #fafafa;
  position: fixed;
  bottom: 0px;
  width: 100%; }

.page {
  min-height: calc(100vh - 60px); }

body.site-navbar-small .site-menubar {
  top: 50px;
  height: -webkit-calc(100% - $menubar-height);
  height: calc(100% - $menubar-height); }

.page-table-small .page-content-table .table > tbody > tr > td, .page-table-small .page-content-table .table > tbody > tr > th, .page-table-small .page-content-table .table > thead > tr > td, .page-table-small .page-content-table .table > thead > tr > th {
  padding-top: 8px;
  padding-bottom: 8px; }

.avatar-text {
  width: 25px;
  height: 25px;
  background: #ffd8c2;
  text-align: center;
  line-height: 25px;
  font-weight: 500;
  float: left;
  margin-right: 5px;
  vertical-align: middle; }

/*# sourceMappingURL=custom.css.map */
